
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/fontawesome-free-5.14.0-web/css/all.css">

    <title>DLDK TRIP | Chủ đề</title>
    <link rel="stylesheet" href="~/Content/css/list_post.css">
</head>

<body>
    @Html.Partial("~/Views/Shared/header.cshtml")
    <div class="content">
        <div class="container">
            <div class="main">
                <!-- <div class="col-1"></div> -->
                <div class="col-2">

                    <div class="post">

                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>
                    <div class="post">
                        <div class="post-left">
                            <div class="post-image">
                                <img src="~/Content/image/hot_post1.jpg" alt="">
                            </div>
                            <div class="post-react">
                                <div class="i-container"><i class="far fa-thumbs-up"></i> </div>
                                <div class="i-container"><i class="far fa-thumbs-down"></i> </div>
                                <div class="i-container">
                                    <i class="far fa-comment"></i>

                                </div>
                            </div>
                        </div>
                        <div class="post-right">
                            <div class="time">
                                <div class="hour">
                                    <p>11:20</p>
                                </div>
                                <div class="date">
                                    <p class="day">20</p>
                                    <p class="month-year">tháng 2 2020</p>
                                </div>
                            </div>
                            <div class="author" onclick="window.open('account.html','_blank')">
                                <img src="~/Content/image/avt.jpg" alt="">
                                <h4>Bùi Văn Dương</h4>
                            </div>
                            <div class="description">
                                <h2 class="title">
                                    Kinh nghiệm du lịch Cảng Tuần Châu Hạ Long
                                </h2>
                                <p class="sub-title">
                                    Hình như em cần vitamin A để cho MÌNH SÁNG MẮT ra đừng theo người đó em ơi em ah, đừng gây thù oán đau lòng mẹ cha, chẳng hiểu em cứ níu kéo vô vọng làm chi
                                </p>
                            </div>
                            <a href="single_blog.html" class="read">ĐỌC THÊM</a>
                        </div>
                    </div>


                </div>
                <div class="col-3">
                    <div class="table-content">

                        <ul>
                            <li>
                                <a href="">Hà Nội</a>
                            </li>
                            <li>
                                <a href="">Sài Gòn</a>
                            </li>
                            <li>
                                <a href="">Ninh Bình</a>
                            </li>
                            <li>
                                <a href="">Hạ Long</a>
                            </li>
                            <li>
                                <a href="">Huế-Đà Nẵng-Quảng Nam</a>
                            </li>
                            <li>
                                <a href="">Sapa</a>
                            </li>
                            <li>
                                <a href="">Miền Tây</a>
                            </li>
                            <li>
                                <a href="">Nha Trang</a>
                            </li>
                            <li>
                                <a href="">Phú Quốc</a>
                            </li>
                            <li>
                                <a href="">Khác</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
    @Html.Partial("~/Views/Shared/footer.cshtml")

</body>

</html>