<header>
    <div class="container">
        <div class="header-container">
            <img src="~/Content/image/logo.png" id="logo" alt="">
            <div class="nav">
                <ul>
                    <li>
                        <a href="/Home/Home">Trang chủ</a>
                    </li>
                    <li>
                        <a href="/Home/Contact">Liên hệ</a>
                    </li>
                    <li>
                        <a href="/Home/About">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#">Manage(admin)</a>
                    </li>
                    <li>
                        <a href="/Home/Login_Logout">Đăng nhập</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>