
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLDK TRIP | Đăng nhập</title>
    <link rel="stylesheet" href="~/Content/css/login_logout.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
    <link rel="stylesheet" type="text/css" href="~/Content/fontawesome-free-5.14.0-web/css/all.css">

</head>

<body>
    <div class="cont">
        <div class="form sign-in">
            <h2>Đăng nhập</h2>
            <label>
                <span>Email</span>
                <input type="email" name="email">
            </label>
            <label>
                <span>Mật khẩu</span>
                <input type="Password" name="password">
            </label>
            <button class="submit" type="button">Đăng nhập</button>
            <p class="forgot-password">Quên mật khẩu</p>

            <div class="social-media">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-google-plus-square"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">

                    <p>“Một khi bị nhiễm niềm đam mê du lịch, chẳng có phương thuốc nào có thể hóa giải, và tôi biết rằng tôi sẽ hạnh phúc khi có căn bệnh này cho đến hết cuộc đời.”</p>
                </div>
                <div class="img-text m-in">
                    <h2>Tham gia cùng chúng tôi</h2>
                    <p>Đăng nhập nếu bạn đã có tài khoản!</p>
                </div>
                <div class="img-btn">
                    <span class="m-up">Đăng ký</span>
                    <span class="m-in">Đăng nhập</span>
                </div>
            </div>
            <div class="form sign-up">
                <h2>Đăng ký</h2>
                <label>
                    <span>Tên</span>
                    <input type="name">
                </label>
                <label>
                    <span>Email</span>
                    <input type="email">
                </label>
                <label>
                    <span>Mật khẩu</span>
                    <input type="password">
                </label>
                <label>
                    <span>Nhập lại mật khẩu</span>
                    <input type="password">
                </label>
                <button type="button" class="submit">Đăng ký</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Content/js/signin.js"></script>
</body>

</html>
